RewriteEngine On

RewriteBase /

RewriteRule ^post-([0-9]+)$ /index.php?p=post&id=$1 [L]
RewriteRule ^post-([0-9]+)-([a-zA-Z\sé]+)$ /index.php?p=post&id=$1&warning=$2 [L]

RewriteRule ^admin$ /?action=admin [L]
RewriteRule ^viewCategories$ /index.php?action=admin&p=viewCategories [L]
RewriteRule ^addCategoryForm$ /index.php?action=admin&p=addCategoryForm [L]
RewriteRule ^addCategory$ /index.php?action=admin&p=addCategory [L]
RewriteRule ^viewPosts$ /index.php?action=admin&p=viewPosts [L]
RewriteRule ^addPostForm$ /index.php?action=admin&p=addPostForm [L]
RewriteRule ^addPost$ /index.php?action=admin&p=addPost [L]
RewriteRule ^viewUsers$ /index.php?action=admin&p=viewUsers [L]
RewriteRule ^addUserForm$ /index.php?action=admin&p=addUserForm [L]
RewriteRule ^addUser$ /index.php?action=admin&p=addUser [L]
RewriteRule ^viewSubmittedComments$ /index.php?action=admin&p=viewSubmittedComments [L]
RewriteRule ^viewComments$ /index.php?action=admin&p=viewComments [L]
RewriteRule ^modifyCategoryForm-([0-9]+)$ /index.php?action=admin&p=modifyCategoryForm&id=$1 [L]
RewriteRule ^modifyCategory-([0-9]+)$ /index.php?action=admin&p=modifyCategory&id=$1 [L]
RewriteRule ^deleteCategory-([0-9]+)$ /index.php?action=admin&p=deleteCategory&id=$1 [L]
RewriteRule ^modifyPostForm-([0-9]+)$ /index.php?action=admin&p=modifyPostForm&id=$1 [L]
RewriteRule ^modifyPost-([0-9]+)$ /index.php?action=admin&p=modifyPost&id=$1 [L]
RewriteRule ^deletePost-([0-9]+)$ /index.php?action=admin&p=deletePost&id=$1 [L]
RewriteRule ^modifyUserForm-([0-9]+)$ /index.php?action=admin&p=modifyUserForm&id=$1 [L]
RewriteRule ^modifyUser-([0-9]+)$ /index.php?action=admin&p=modifyUser&id=$1 [L]
RewriteRule ^modifyUserPass-([0-9]+)$ /index.php?action=admin&p=modifyUserPass&id=$1 [L]
RewriteRule ^deleteUser-([0-9]+)$ /index.php?action=admin&p=deleteUser&id=$1 [L]
RewriteRule ^approveComment-([0-9]+)$ /index.php?action=admin&p=approveComment&id=$1 [L]
RewriteRule ^deleteComment-([0-9]+)$ /index.php?action=admin&p=deleteComment&id=$1 [L]
RewriteRule ^deleteSubmittedComment-([0-9]+)$ /index.php?action=admin&p=deleteSubmittedComment&id=$1 [L]

RewriteRule ^checkUser$ /index.php?action=admin&p=checkUser [L]