RewriteEngine On
Options -Indexes

RewriteBase /

RewriteRule ^post-([0-9]+)$ /index.php?p=post&id=$1 [L]
RewriteRule ^post-([0-9]+)-([a-zA-Z\sé]+)$ /index.php?p=post&id=$1 [L]
RewriteRule ^submitcomment-([0-9]+)$ /index.php?p=submitcomment&id=$1 [L]

RewriteRule ^admin$ /?action=admin [L]
RewriteRule ^admin-viewcategories$ /index.php?action=admin&p=viewCategories [L]
RewriteRule ^admin-addcategoryform$ /index.php?action=admin&p=addCategoryForm [L]
RewriteRule ^admin-addcategory$ /index.php?action=admin&p=addCategory [L]
RewriteRule ^admin-viewposts$ /index.php?action=admin&p=viewPosts [L]
RewriteRule ^admin-addpostform$ /index.php?action=admin&p=addPostForm [L]
RewriteRule ^admin-addpost$ /index.php?action=admin&p=addPost [L]
RewriteRule ^admin-viewusers$ /index.php?action=admin&p=viewUsers [L]
RewriteRule ^admin-adduserform$ /index.php?action=admin&p=addUserForm [L]
RewriteRule ^admin-adduser$ /index.php?action=admin&p=addUser [L]
RewriteRule ^admin-viewsubmittedcomments$ /index.php?action=admin&p=viewSubmittedComments [L]
RewriteRule ^admin-viewcomments$ /index.php?action=admin&p=viewComments [L]
RewriteRule ^admin-modifycategoryform-([0-9]+)$ /index.php?action=admin&p=modifyCategoryForm&id=$1 [L]
RewriteRule ^admin-modifycategory-([0-9]+)$ /index.php?action=admin&p=modifyCategory&id=$1 [L]
RewriteRule ^admin-deletecategory-([0-9]+)$ /index.php?action=admin&p=deleteCategory&id=$1 [L]
RewriteRule ^admin-modifypostform-([0-9]+)$ /index.php?action=admin&p=modifyPostForm&id=$1 [L]
RewriteRule ^admin-modifypost-([0-9]+)$ /index.php?action=admin&p=modifyPost&id=$1 [L]
RewriteRule ^admin-deletepost-([0-9]+)$ /index.php?action=admin&p=deletePost&id=$1 [L]
RewriteRule ^admin-modifyuserform-([0-9]+)$ /index.php?action=admin&p=modifyUserForm&id=$1 [L]
RewriteRule ^admin-modifyuser-([0-9]+)$ /index.php?action=admin&p=modifyUser&id=$1 [L]
RewriteRule ^admin-modifyuserpass-([0-9]+)$ /index.php?action=admin&p=modifyUserPass&id=$1 [L]
RewriteRule ^admin-deleteuser-([0-9]+)$ /index.php?action=admin&p=deleteUser&id=$1 [L]
RewriteRule ^admin-approvecomment-([0-9]+)$ /index.php?action=admin&p=approveComment&id=$1 [L]
RewriteRule ^admin-deletecomment-([0-9]+)$ /index.php?action=admin&p=deleteComment&id=$1 [L]
RewriteRule ^admin-deletesubmittedcomment-([0-9]+)$ /index.php?action=admin&p=deleteSubmittedComment&id=$1 [L]
RewriteRule ^admin-logout$ /index.php?action=admin&p=userlogout [L]

RewriteRule ^profile$ /index.php?p=profile [L]
RewriteRule ^cv$ /index.php?p=cv [L]
RewriteRule ^product$ /index.php?p=product [L]
RewriteRule ^contactform$ /index.php?p=contactform [L]
RewriteRule ^contactform-([a-zA-Z\sé]+)$ /index.php?p=contactform&$warning=$1 [L]
RewriteRule ^contact$ /index.php?p=contact [L]
RewriteRule ^404$ /index.php?p=404 [L]

ErrorDocument 404 /view/error.php?code=404